{% schema %}
  {
    "name": "t:sections.header.name",
    "class": "section-header",
    "settings": [

      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.header.settings.logo.label"
      }, {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 100,
        "unit": "t:sections.header.settings.logo_width.unit",
        "label": "t:sections.header.settings.logo_width.label"
      }, {
        "type": "select",
        "id": "logo_position",
        "options": [
          {
            "value": "top-left",
            "label": "t:sections.header.settings.logo_position.options__2.label"
          }, {
            "value": "top-center",
            "label": "t:sections.header.settings.logo_position.options__3.label"
          }, {
            "value": "middle-left",
            "label": "t:sections.header.settings.logo_position.options__1.label"
          }, {
            "value": "middle-center",
            "label": "t:sections.header.settings.logo_position.options__4.label"
          }
        ],
        "default": "middle-left",
        "label": "t:sections.header.settings.logo_position.label"
      }, {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
      }
    ]
  }
{% endschema %}



<header>

  <nav class="navbar">
    <div class="row d-flex container">
      <a href="" class="logo d-flex">
        <img src="{{section.settings.logo}}" alt="">
      </a>

      <!-- navitems  -->
      <ul class="nav-list d-flex">

        <li>
          {%- if link.links != blank -%}
            {%- for link in section.settings.menu.links -%}
              <a href="{{link.url}}">
                {{ link.title | escape }}</a>
            {%- else -%}
              <a href="{{ link.url }}">
                {{ link.title | escape }}
              </a>


            </li>
          {%- endfor -%}
        {%- endif -%}
        <span class="close d-flex">
          <i class="bx bx-x"></i>
        </span>
      </ul>



      {% comment %}            
      {% render 'icon-arrow' %}
      {% render 'icon-caret' %} {% endcomment %}



    </ul>


  </nav>

  {% comment %} <nav class="navbar">
  <!-- Container div -->
  <div class="row d-flex container">
  <a href="" class="logo d-flex">
  <img src="./images/logo.png" alt="">
  </a>

  <!-- navitems  -->
  <ul class="nav-list d-flex">
  <a href="">Home</a>

  <a href="">Contact</a>
  <span class="close d-flex">
  <i class="bx bx-x"></i>
  </span>
  </ul>
  <!-- seacrch, cart and signin -->
  <div class="col d-flex">
  <form action="">
  <input
  type="text"
  placeholder="Search Your ITEM HERE"
  id="">
  <button class="d-flex">
  <i class="bx bx-search"></i>
  </button>
  </form>

  <div class="cart-icon d-flex">
  <i class="bx bx-shopping-bag"></i>
  <span>0</span>
  </div>
  <a href="" class="btn signin">SignIn</a>
  </div>

  <!-- Hamburger  -->
  <div class="hamburger d-flex">
  <i class="bx bx-menu"></i>
  </div>

  </div>
  {% endcomment %}</header>